.btn_85 {
  transition: all 0.2s;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: var(--text-primary);
  background: var(--background);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border: solid 2.5px var(--border-color);
  border-radius: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn_85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 14px;
}

.btn_85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  left: 0;
  top: 0;
  border-radius: 14px;
}

.btn_85:focus {
  transform: scale(0.96);
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
